@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}

@* Future addition, marking the events as "Going" on load and clicking button again makes them no longer attend*@
@* Future addition, marking the artists as "Following" on load and clicking button again makes them no longer follow*@

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm,  new { placeholder = "Search by artist, genre...", @class = "form-control searchBox" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul class="gigs voffset4">
    @foreach (GigHub.Models.Gig gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateAdded.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateAdded.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name 

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
        }
</ul>

@section scripts
{
    <script>
        // future fix, the change to Going and change of the class is done, even if the user isn't logged in, nothing happens, nothing is saved, but markup behavior occurs, but resets on reload.
        // should prevent user from clicking if they're not clicked in, or message saying they're not logged in to attend, or redirect to login page on button click should happen.
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button.removeClass("btn-default").addClass("btn-info").text("Going");
                    })
                    .fail(function () {
                        // future todo: this could be a 'toast' notification
                        alert("Something failed!");
                    });
            });
        });

        // future fix would be to make it so any Gigs shown with the same artist and follow, should switch Follow to Following when you follow once instance of the same artist
        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { FolloweeId: button.attr("data-artist-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        // future todo: this could be a 'toast' notification
                        alert("Something failed!");
                    });
            });
        });
    </script>
}